body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* label {
    display: block;
    margin-top: 20px;
} */

input[type="file"] {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#showDiffLines {
    margin-top: 20px;
    white-space: pre-wrap; /* Keeps the formatting of the differences */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
}